<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=marlinkconnectstorage;AccountKey=FjiIV9RbpcRM1Son7tXJ1WEMk+0A/0sQwkKGqNwfOOaCTa8cnfvSbsak23jjcF739bMZ23eNDYLfC8p3JcqnvQ==;" />
    </appSettings>
</configuration>