<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFleetGripIdp" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFleetGripIdp">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srv-gc-pr02.unitas.mobsat.local/BusinessMap_2.10_ExecomDev/SplitAPI/FleetGripIdp.svc/wshttp"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFleetGripIdp"
                contract="FleetGripIdp.IFleetGripIdp" name="WSHttpBinding_IFleetGripIdp" />
            <endpoint address="http://srv-gc-pr02.unitas.mobsat.local/BusinessMap_2.10_ExecomDev/SplitAPI/FleetGripIdp.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFleetGripIdp"
                contract="FleetGripIdp.IFleetGripIdp" name="BasicHttpBinding_IFleetGripIdp" />
        </client>
    </system.serviceModel>
</configuration>